@value makerShadow, makerBlack, makerWhite, makerColorful, makerWheat from "../../common/colors.css";

button {
  background-color: transparent;
  border-style: none;
}

.card {
  display: flex;
  align-items: center;
  width: 22rem;
  height: 100%;
  /* flex-basis: 40%; */
  margin: 0.7em;
  border-radius: 0.1rem;
  padding: 1em 0;
  box-shadow: 3px 4px 8px 0px makerShadow;
  max-width: 40rem;
  position: relative;
}

.card.dark {
  background-color: makerBlack;
  color: makerWhite;
}
.card.dark > .menu {
  color: makerWhite;
}
.card.light {
  background-color: makerWhite;
  color: makerBlack;
}

.card.colorful {
  background: makerColorful;
}

.avatar {
  position: relative;
  top: -1.5rem;
  width: 5.5em;
  height: 5.5em;
  padding: 1em;
  /* margin-left: 0.5em; */
  /* margin-right: 1em; */
  border-radius: 50%;
}

.info {
  width: 100%;
  height: 100%;
}
.menu {
  position: relative;
  top: -3em;
  padding: 0 0.5em;
  font-size: 1.2em;
}
.menu:hover {
  cursor: pointer;
}

.name,
.companny,
.theme,
.title,
.email,
.phone,
.message {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.name {
  font-size: 1.2rem;
}
.title {
  margin-bottom: 2rem;
}

.title::after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background-color: makerWheat;
  transform: translateY(0.5em);
}
